<script setup lang="ts">
import { computed, defineProps } from "vue";

const props = defineProps({
    tabs: {
        type: Array,
        default() { return []; },
    },
    activeTab: {
        type: String,
        default() { return ''; },
    },
});

const countTabs = computed(() => {
    return props.tabs.length;
});

const getCssClassTab = function ({ tabKey }: { tabKey: string }) {
    const isActive = tabKey === props.activeTab;
    const cssClasses = [
        'cursor-pointer py-1 px-3 rounded text-center',
        { 'bg-white': isActive },
        { 'basis-1/2': countTabs.value === 2 },
        { 'basis-1/3': countTabs.value === 3 },
    ];
    if (!isActive) {
        cssClasses.push('text-neutral-700 hover:text-neutral-800 hover:bg-neutral-50');
    }
    return cssClasses;
};

</script>

<template>
    <div class="bg-neutral-100 p-1 rounded-md flex gap-x-1">
        <div v-for="(tab, tabIdx) in tabs"
             @click="$emit('change', tab.key)"
             :key="`tab_${tabIdx}`"
             :class="getCssClassTab({ tabKey: tab.key })"
        >{{ tab.name }}</div>
    </div>
</template>

<style>
</style>