<script setup lang="ts">
import TabBar from "./components/TabBar.vue";
import { reactive, ref } from "vue";

const tabs = reactive([
    { key: "overview", name: "Overview" },
    { key: "notes", name: "Notes" },
    { key: "comments", name: "Comments" },
]);
const activeTab = ref("overview");
const onTabChange = function ({ tabKey }: {tabKey: string}) {
    activeTab.value = tabKey;
};

</script>

<template>
    <div class="container p-6 mx-auto grid grid-col-1 gap-y-6">
        <TabBar @change="onTabChange({ tabKey: $event })" :tabs="tabs" :activeTab="activeTab"></TabBar>
    </div>
</template>

<style>
</style>
